[Desktop Entry]
Name=Evolution Calendar
Name[af]=Evolution-kalender
Name[an]=Calandario d'Evolution
Name[ar]=تقويم إيفُليوشِن
Name[as]=Evolution কেলেন্ডাৰ
Name[be]=Каляндар Evolution
Name[bg]=Календар на Evolution
Name[ca]=Calendari de l'Evolution
Name[ca@valencia]=Calendari de l'Evolution
Name[cs]=Kalendář Evolution
Name[da]=Evolution kalender
Name[de]=Evolution-Kalender
Name[el]=Ημερολόγιο Evolution
Name[en_GB]=Evolution Calendar
Name[eo]=Evolution kalendaro
Name[es]=Calendario de Evolution
Name[et]=Evolutioni kalender
Name[eu]=Evolution egutegia
Name[fa]=تقویم اوولوشن
Name[fi]=Evolution-kalenteri
Name[fr]=Agenda d'Evolution
Name[fur]=Lunari di Evolution
Name[ga]=Féilire Evolution
Name[gl]=Calendario de Evolution
Name[gu]=Evolution કૅલેન્ડર
Name[he]=יומן אבולושן
Name[hi]=एवोल्यूशन पंचांग
Name[hu]=Evolution naptár
Name[ia]=Calendario de Evolution
Name[id]=Evolution Kalender
Name[it]=Calendario di Evolution
Name[ja]=Evolution カレンダー
Name[kk]=Evolution күнтізбесі
Name[kn]=Evolution ಕ್ಯಾಲೆಂಡರ್
Name[ko]=에볼루션 달력
Name[ky]=Evolution жылнаамасы
Name[lt]=Evolution kalendorius
Name[lv]=Evolution kalendārs
Name[ml]=ഇവല്യൂഷന്‍ കലണ്ടര്‍
Name[mr]=एव्हल्युशन दिनदर्शिका
Name[nb]=Evolution kalender
Name[nl]=Evolution-agenda
Name[nn]=Evolution kalender
Name[or]=Evolution କ୍ୟାଲେଣ୍ଡର
Name[pa]=ਈਵੇਲੂਸ਼ਨ ਕੈਲੰਡਰ
Name[pl]=Kalendarz programu Evolution
Name[pt]=Calendário do Evolution
Name[pt_BR]=Agenda do Evolution
Name[ro]=Calendar Evolution
Name[ru]=Календарь Evolution
Name[sk]=Kalendár Evolution
Name[sl]=Koledar Evolution 
Name[sr]=Еволуција календар
Name[sr@latin]=Evolucija kalendar
Name[ta]=எவல்யூஷன் நாள்காட்டி
Name[te]=ఎవల్యూషన్ క్యాలెండరు
Name[tg]=Ӣақвими Evolution
Name[th]=ปฏิทิน Evolution
Name[tr]=Evolution Takvim
Name[ug]=Evolution يىلنامىسى
Name[uk]=Календар Evolution
Name[vi]=Lịch Evolution
Name[zh_CN]=Evolution 日历
Name[zh_HK]=Evolution 行事曆
Name[zh_TW]=Evolution 行事曆
Exec=evolution -c calendar
Icon=evolution
NoDisplay=true
Type=Application
StartupNotify=true
