[Desktop Entry]
Type=Application
Name=GNOME Shell Extension Preferences
Name[af]=Voorkeure vir GNOME Shell-uitbreidings
Name[an]=Preferencias d'as extensions de GNOME Shell
Name[ar]=تفضيلات امتدادات صدفة جنوم
Name[as]=GNOME শ্বেল সম্প্ৰসাৰন পছন্দসমূহ
Name[be]=Настройкі пашырэння абалонкі GNOME
Name[bg]=Настройки на разширенията на обвивката на GNOME
Name[ca]=Preferències de les extensions del GNOME Shell
Name[ca@valencia]=Preferències de les extensions del GNOME Shell
Name[cs]=Předvolby rozšíření GNOME Shell
Name[da]=Udvidelsesmodulindstillinger for GNOME Shell
Name[de]=Einstellungen für Erweiterungen der GNOME-Shell
Name[el]=Προτιμήσεις επεκτάσεων του GNOME Shell
Name[en_GB]=GNOME Shell Extension Preferences
Name[eo]=Agordoj de kromprogramoj de GNOME-ŝelo
Name[es]=Preferencias de las extensiones de GNOME Shell
Name[et]=GNOME Shelli laienduste eelistused
Name[eu]=GNOME Shell-eko gehigarrien hobespenak
Name[fa]=ترجیحات افزونه‌های گنوم‌شل
Name[fi]=Gnome Shell -laajennusten asetukset
Name[fr]=Préférences pour les extensions GNOME Shell
Name[fur]=Preferencis Estensions di GNOME Shell
Name[ga]=Airíonna Eisínteachtaí GNOME Shell
Name[gl]=Preferencias das extensións de GNOME Shell
Name[gu]=GNOME Shell ઍક્સટેન્શન પસંદગીઓ
Name[he]=העדפות ההרחבות של GNOME Shell
Name[hi]=गनोम शेल एक्सटेंशन वरीयताएँ
Name[hu]=GNOME Shell kiterjesztések beállításai
Name[ia]=Preferentias pro le extensiones GNOME Shell
Name[id]=Preferensi Ekstensi GNOME Shell
Name[it]=Preferenze estensioni di GNOME Shell
Name[ja]=GNOME Shell 拡張機能設定
Name[kk]=GNOME Shell кеңейту баптаулары
Name[kn]=GNOME ಶೆಲ್ ಎಕ್ಸ್‍ಟೆನ್ಶನ್ಸ್‍ ಆದ್ಯತೆಗಳು
Name[ko]=그놈 셸 확장 기본 설정
Name[ky]=GNOME Shell кеңейтмелеринин параметрлери
Name[lt]=GNOME Shell plėtinių nustatymai
Name[lv]=GNOME Shell paplašinājumu iestatījumi
Name[ml]=ഗ്നോം ഷെല്‍ എക്സ്റ്റെന്‍ഷന്‍ മുന്‍ഗണനകള്‍
Name[mr]=GNOME शेल एक्सटेंशन पसंती
Name[nb]=Brukervalg for GNOME Shell utvidelser
Name[nl]=Voorkeuren voor Gnome Shell-uitbreidingen
Name[or]=GNOME ସେଲ ଅନୁଲଗ୍ନ ପସନ୍ଦଗୁଡ଼ିକ
Name[pa]=ਗਨੋਮ ਸ਼ੈੱਲ ਇਕਸਟੈਨਸ਼ਨ ਪਸੰਦ
Name[pl]=Preferencje rozszerzenia powłoki GNOME
Name[pt]=Preferências das Extensões á Interface GNOME
Name[pt_BR]=Preferências de extensões do GNOME Shell
Name[ro]=Preferințele extensiei GNOME Shell
Name[ru]=Параметры расширений GNOME Shell
Name[sk]=Nastavenia rozšírení pre Shell prostredia GNOME
Name[sl]=Možnosti razširitev lupine GNOME
Name[sr]=Поставке проширења Гномове шкољке
Name[sr@latin]=Postavke proširenja Gnomove školjke
Name[sv]=Tilläggsinställningar för GNOME-skal
Name[ta]=க்னோம் ஷெல் நீட்சி விருப்பங்கள்
Name[te]=గ్నోమ్ షెల్ పొడిగింతల ప్రాధాన్యతలు
Name[tg]=Хусусиятҳои пасвандҳои восити GNOME
Name[th]=ปรับแต่งส่วนขยายของเชลล์ GNOME
Name[tr]=GNOME Kabuğu Eklenti Tercihleri
Name[ug]=گىنوم Shell كېڭەيتمىسىنىڭ مايىللىقى
Name[uk]=Параметри розширень GNOME Shell
Name[vi]=Cá nhân hóa phần mở rộng hệ vỏ GNOME
Name[zh_CN]=GNOME Shell 扩展首选项
Name[zh_HK]=GNOME Shell 擴充功能偏好設定
Name[zh_TW]=GNOME Shell 擴充功能偏好設定
Comment=Configure GNOME Shell Extensions
Comment[an]=Configurar as extensions de GNOME Shell
Comment[ar]=اضبط امتدادات صدفة جنوم
Comment[as]=GNOME শ্বেল সম্প্ৰসাৰনসমূহ সংৰূপণ কৰক
Comment[be]=Настройкі пашырэнняў абалонкі GNOME
Comment[bg]=Настройки на разширенията на обвивката на GNOME
Comment[ca]=Configureu les extensions del GNOME Shell
Comment[ca@valencia]=Configureu les extensions del GNOME Shell
Comment[cs]=Nastavit rozšíření GNOME Shell
Comment[da]=Konfigurér udvidelsesmoduler til GNOME Shell
Comment[de]=Erweiterungen der GNOME-Shell einrichten
Comment[el]=Ρύθμιση επεκτάσεων του GNOME Shell
Comment[en_GB]=Configure GNOME Shell Extensions
Comment[eo]=Agordi kromprogramojn de GNOME-ŝelo
Comment[es]=Configurar las extensiones de GNOME Shell
Comment[et]=GNOME Shelli laienduste seadistamine
Comment[eu]=Konfiguratu GNOME Shell-eko gehigarriak
Comment[fa]=پیکربندی ترجیحات افزونه‌های گنوم‌شل
Comment[fi]=Hallitse Gnome Shell -laajennuksia
Comment[fr]=Configurer les extensions GNOME Shell
Comment[fur]=Configure Estensions di GNOME Shell
Comment[ga]=Cumraigh Eisínteachtaí GNOME Shell
Comment[gl]=Configure as extensións de GNOME Shell
Comment[gu]=GNOME Shell ઍક્સટેન્શનને રૂપરેખાંકિત કરો
Comment[he]=הגדרת הרחבות GNOME Shell
Comment[hi]=गनोम शेल एक्सटेंशन विन्यस्त करें
Comment[hu]=GNOME Shell kiterjesztések beállítása
Comment[ia]=Configurar le extensiones GNOME Shell
Comment[id]=Konfigurasi Ekstensi GNOME Shell
Comment[it]=Configura le estensioni di GNOME Shell
Comment[ja]=GNOME Shell 拡張機能の設定を行います
Comment[kk]=GNOME Shell кеңейтулерін баптау
Comment[kn]=GNOME ಶೆಲ್ ಎಕ್ಸ್‍ಟೆನ್ಶನ್ಸ್‍ ಅನ್ನು ಸಂರಚಿಸಿ
Comment[ko]=그놈 셸 확장을 설정합니다
Comment[ky]=GNOME Shell кеңейтмелерин ырастоо
Comment[lt]=Konfigūruoti GNOME Shell plėtinius
Comment[lv]=Konfigurēt GNOME Shell paplašinājumus
Comment[ml]=ഗ്നോം ഷെല്‍ എക്സ്റ്റെന്‍ഷനുകള്‍ ക്രമീകരിയ്ക്കുക
Comment[mr]=GNOME शेल एक्सटेंशन्स् संरचीत करा
Comment[nb]=Konfigurer utvidelser for GNOME Shell
Comment[nl]=Gnome Shell-uitbreidingen configureren
Comment[or]=GNOME ସେଲ ଅନୁଲଗ୍ନଗୁଡ଼ିକ
Comment[pa]=ਗਨੋਮ ਸ਼ੈਲ ਇਕਸਟੈਸ਼ਨ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja rozszerzeń powłoki GNOME
Comment[pt]=Configurar Extensões à Interface GNOME
Comment[pt_BR]=Configurar extensões do GNOME Shell
Comment[ro]=Configurarea extensiilor GNOME Shell
Comment[ru]=Настроить расширения GNOME Shell
Comment[sk]=Nastavenie rozšírení pre Shell prostredia GNOME
Comment[sl]=Nastavitve razširitev lupine Gnome
Comment[sr]=Подесите проширења Гномове шкољке
Comment[sr@latin]=Podesite proširenja Gnomove školjke
Comment[sv]=Konfigurera tillägg för GNOME-skal
Comment[ta]=க்னோம் ஷெல் நீட்சிகளை வடிவமை
Comment[te]=గ్నోమ్ షెల్ పొడిగింతలను స్వరూపించు
Comment[tg]=Танзимоти пасвандҳои восити GNOME
Comment[th]=ตั้งค่าส่วนขยายต่างๆ ของเชลล์ GNOME
Comment[tr]=GNOME Kabuğu Eklentilerini Ayarla
Comment[ug]=گىنوم Shell كېڭەيتمىسىنى سەپلەش
Comment[uk]=Налаштувати розширення GNOME Shell
Comment[vi]=Cấu hình phần mở rộng Hệ vỏ GNOME
Comment[zh_CN]=配置 GNOME Shell 扩展
Comment[zh_HK]=設定 GNOME Shell 擴充功能
Comment[zh_TW]=設定 GNOME Shell 擴充功能
Exec=/usr/bin/gnome-shell-extension-prefs %u
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-shell
X-GNOME-Bugzilla-Component=extensions
X-GNOME-Bugzilla-Version=3.10.4
Categories=GNOME;GTK;
OnlyShowIn=GNOME;
NoDisplay=true
